.wrapper{width: 100vw; height: auto; margin: auto; background: #fff; position: relative;}
.container{width:100%; padding: 0 1.5rem;}
.section{margin-top: 1.5rem;}
.section-title h2{font-size: 1.25rem; font-weight: 500;}
.section-title{margin-bottom: .5rem;}

.preloader{position: fixed; width: 100vw; height: 100vh; left: 0; top: 0; z-index: 9999999999; display: flex; align-items: center; justify-content: center;}
.preloader img{width: 100%;} 
.preloader.loaded{visibility: hidden; opacity: 0;}