@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;600;700&display=swap');

/* Reset Style */
html{scroll-behavior: smooth;}
body{font-family: 'Noto Sans', sans-serif; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 16px; background-color: #1f2122;}
*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: black;}
img{display: block;}
em, strong, i, b{font-style: normal; font-weight: normal;}
button, input, textarea{border-style: none; outline: 0; background: #27292a;}
